# Install torch and other core dependencies first
accelerate
bitsandbytes
decord
litserve
openai
Pillow
streamlit
torch
torchvision
transformers

# Flash attention must be installed after torch
flash_attn
